{% extends 'base.html' %}
{% load static %}

{% block content %}
<!-- Banner area -->
<section class="banner_area" data-stellar-background-ratio="0.5">
    <h2>ACCESS CONTROL SYSTEMS</h2>
    <ol class="breadcrumb">
        <li><a href="/">Home</a></li>
        <li><a href="service" class="active">Services </a></li>
    </ol>
</section>
<!-- End Banner area -->

<!-- Building Construction Area -->
<section class="building_construction_area">
    <div class="container">
        <div class="row building_construction_row">
            <div class="col-sm-8 constructing_laft">
                <h2>Access Control</h2>
                <img src="{% static 'website/images/access11.png' %}" alt="">
                <a href="#">Access control</a>
                <p>Access control systems restrict access to unauthorized users to specific areas. It can be a set of
                    devices or a device controlling personal or vehicular access through a door, portal or other
                    physical control barriers by means of an electrically operated released mechanism referred to as
                    electro mechanical locking device. Some of the Access control systems include. Finger Print
                    Biometric Reader, Digital Combination Lock(Password Reader), Proximity Access control (Card Reader),
                    Hand Punch device.

                    Finger scanned user can be assured that their privacy is not protected but also enhanced by the
                    system. The finger record stored can only be used for personal authentication within the finger scan
                    system and cannot be used in any other way.
                </p>


                <div class="col-md-6 ipsum">
                    <p>Finger Print Biometric Reader
                        It is the most and highly genuine access control system with a high security measure, it’s a
                        three in one system that uses the smart card and password code and finger print verification, it
                        supports up to 50,000users with fingerprints, smart card and password, verification time is only
                        up to 1.5 seconds. The biometric access control systems includes web server which enables all
                        computer in the set up cooperate network maintain and access the information of the device
                        simultaneously using the internet browser.</p>
                </div>
                <div class="col-md-6 ipsum_img"><img src="{% static 'website/images/access12.jpg' %}" alt="">
                </div>
                <div class="col-md-12 p0">

                </div>
            </div>
            <div class="col-sm-4 constructing_right">

                <div class="contact_us">
                    <h4>Contact Us</h4>
                    <a href="#" class="contac_namber">0312114905</a>
                    <a href="#" class="contac_namber">+256 0701181576</a>
                    <p>we would love to hear from you</p>
                    <a href="contact" class="button_all">Contact Us</a>

                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Building Construction Area -->

<!-- Our Featured Works Area -->

{% endblock %}