{% extends 'base.html' %}
{% load static %}
<!--{% block title %} About Think Big Africa {% endblock %}-->
<!--{% block meta_description %} This is the website of Think Big Africa (TBS){% endblock %}-->

{% block content %}


<!--<h1>Hello appointment </h1>-->
<!--<p>{{ your_name }}</p>-->
<!--<p>{{ your_phone }}</p>-->
<!--<p>{{ your_email }}</p>-->
<!--<p>{{ your_address }}</p>-->

<center><h2>Your submission has been received, Thank you, we shall contact you shortly.........</h2></center>


{% endblock %}