{% extends 'base.html' %}
{% load static %}

{% block content %}
<!-- Banner area -->
<section class="banner_area" data-stellar-background-ratio="0.5">
    <h2>TIME AND ATTENDANCE</h2>
    <ol class="breadcrumb">
        <li><a href="/">Home</a></li>
        <li><a href="service" class="active">Services </a></li>
    </ol>
</section>
<!-- End Banner area -->

<!-- Building Construction Area -->
<section class="building_construction_area">
    <div class="container">
        <div class="row building_construction_row">
            <div class="col-sm-8 constructing_laft">
                <h2>Time and Attendance</h2>
                <img src="{% static 'website/images/access5.png' %}" alt="">
                <a href="#">Time and Attendance</a>
                <p>This is an access control system that offers functions of recording and monitoring the movement of
                    employees arriving, taking breaks, leaving for the day after work etc.This system helps reduce
                    administrative costs associated with managing cards, attendance registers, or time sheets .The
                    system can operate on a single computer or on a local access network server (LAN) making it
                    accessible from anywhere in the organization.

                    Time and attendance applications are common in areas with large number of workers. A high turn of
                    casual workers and part time workers. Larger retail plants, Hotels, Large commercial organizations
                    are all candidates of time and attendance management systems. The system consists of. Card and
                    barcode scanner, Finger Print Reader, Hand punch devices.</p>

                <div class="col-md-6 ipsum">
                    <p>Finger Print Reader
                        The system Incorporates a highly reliable biometric reader with a high security finger print
                        verification .This provides solutions that cannot be forged memorized or duplicated, finger scan
                        reduces risks ,limits reliability and provides protection and privacy for all concerned with the
                        flexibility to tailored to a company’s exact requirements.

                        This system supports up to 50,000 finger print users and comes with software to manage the
                        fingerprint data base and enables fast configuration of the reader. Verification time is only
                        1.5 seconds. The system operates by finger scan and Store human finger template which is a
                        person’s identity and then provides access authorization time and location of user to any
                        controlled systems by scanning a person finger. The finger record stored can only be for person
                        authentication. Within the finger scan system and cannot be used in any other way..</p>
                </div>
                <div class="col-md-6 ipsum_img"><img src="{% static 'website/images/time.jpg' %}" alt="">
                </div>
                <div class="col-md-12 p0">

                </div>
            </div>
            <div class="col-sm-4 constructing_right">
                Hand Punch Device
                <p> This is an access control system that studies the patterns and angles of an out stretched hand to a
                    match. The system also supports up to 500 users with a verification time of 1.5 seconds. It is
                    suitable
                    for every application that requires person authentication and identification.</p>
                <div class="col-md-6 ipsum_img"><img src="{% static 'website/images/access5.png' %}" alt="">
                </div>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>

                <br>
                <br>
                <br>

                <br>
                Card And Barcode Scanner
                <p> This is most commonly known as a contactless smart card it bears the employees identification .the
                    systems incorporates a highly reliable card scanner that gives a person’s identity and provides
                    access
                    authorization time and location of use etc</p>
                <div class="contact_us">
                    <h4>Contact Us</h4>
                    <a href="#" class="contac_namber">0312114905</a>
                    <a href="#" class="contac_namber">+256 0701181576</a>
                    <p>we would love to hear from you</p>
                    <a href="contact" class="button_all">Contact Us</a>
                </div>
            </div>
        </div>
    </div>
    </div>
</section>
<!-- End Building Construction Area -->

<!-- Our Featured Works Area -->

<!-- End Our Team Area -->
{% endblock %}