{% extends 'base.html' %}
{% load static %}

{% block content %}
<!-- Banner area -->
<section class="banner_area" data-stellar-background-ratio="0.5">
    <h2>VEHICLE ALARM SYSTEMS</h2>
    <ol class="breadcrumb">
        <li><a href="/">Home</a></li>
        <li><a href="service" class="active">Services </a></li>
    </ol>
</section>
<!-- End Banner area -->

<!-- Building Construction Area -->
<section class="building_construction_area">
    <div class="container">
        <div class="row building_construction_row">
            <div class="col-sm-8 constructing_laft">
                <h2>Vehicle Alarm Systems</h2>
                <img src="{% static 'website/images/alarm1.jpg' %}" alt="">
                <a href="#">Car alarm</a>
                <p>This alarm system is programmed with a tune which alerts you when a car is trembled by a stranger,
                    both the car and the remote respond with the programmed tune. It prevents fuel flow..</p>


                <div class="col-md-6 ipsum">
                    <p>The alarm system is programmed with vibration, the remote vibrates when is trembled, prevents
                        fuel flow and it also has a signal light.
                        The car and the remote vibrate when the vehicle senses any touch from a stranger it has two
                        remotes with an engine start button and it also prevents fuel flow. The remote vibrates to
                        notify you when a vehicle is trembled with.
                    </p>
                </div>
                <div class="col-md-6 ipsum_img"><img src="{% static 'website/images/alarm2.jpg' %}" alt="">
                </div>
                <div class="col-md-12 p0">

                </div>
            </div>
            <div class="col-sm-4 constructing_right">

                <div class="contact_us">
                    <h4>Contact Us</h4>
                    <a href="#" class="contac_namber">0312114905</a>
                    <a href="#" class="contac_namber">+256 0701181576</a>
                    <p>we would love to hear from you</p>
                    <a href="contact" class="button_all">Contact Us</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Building Construction Area -->

<!-- Our Featured Works Area -->

{% endblock %}