{% extends 'base.html' %}
{% load static %}

{% block content %}

<!-- Our Partners Area -->
<section class="our_partners_area">
    <div class="container">
        <div class="tittle wow fadeInUp">
            <h2>Our Clients</h2>
            <h4>Meet our happy Clients</h4>
        </div>
        <div class="partners">
            <div class="item"><img src="{% static 'website/images/client_logo/logo1.jpg' %}" alt=""></div>
            <div class="item"><img src="{% static 'website/images/client_logo/logo2.png' %}" alt=""></div>
            <div class="item"><img src="{% static 'website/images/client_logo/logo3.png' %}" alt=""></div>
            <div class="item"><img src="{% static 'website/images/client_logo/logo4.jpg' %}" alt=""></div>
            <div class="item"><img src="{% static 'website/images/client_logo/logo5.png' %}" alt=""></div>
            <div class="item"><img src="{% static 'website/images/client_logo/logo7.jpg' %}" alt=""></div>
            <div class="item"><img src="{% static 'website/images/client_logo/logo8.jpg' %}" alt=""></div>
            <div class="item"><img src="{% static 'website/images/enhans.png' %}" alt=""></div>
            <div class="item"><img src="{% static 'website/images/pepsi-logo.jpg' %}" alt=""></div>
            <div class="item"><img src="{% static 'website/images/unwomen.png' %}" alt=""></div>
            <div class="item"><img src="{% static 'website/images/microfinance.jpg' %}" alt=""></div>


        </div>
    </div>

</section>


{% endblock %}