{% extends 'base.html' %}
{% load static %}

{% block content %}
<!-- Banner area -->
<section class="banner_area" data-stellar-background-ratio="0.5">
    <h2>AUTOMATIC GATE SYSTEMS</h2>
    <ol class="breadcrumb">
        <li><a href="/">Home</a></li>
        <li><a href="service" class="active">Services </a></li>
    </ol>
</section>
<!-- End Banner area -->

<!-- Building Construction Area -->
<section class="building_construction_area">
    <div class="container">
        <div class="row building_construction_row">
            <div class="col-sm-8 constructing_laft">
                <h2>Automatic gates</h2>
                <img src="{% static 'website/images/gate1.jpg' %}" alt="">
                <a href="#">Gate Motors</a>
                <p>Automatic gates operate with fixed motors and they are remote controlled ,they are programmed on time
                    that is open and close ,automatic gates can be programmed to operate in a distance of between 0 -
                    150meters,two remotes are offered and also a switch can be used for closing the gate.


                <div class="col-md-6 ipsum">
                    <p>KIBS promotes safety and security to protect life and property across major industries namely
                        residential and commercial facilities, oil and gas refineries, airports and aviation, health
                        care and education, military and police, hospitality and leisure..</p>
                </div>
                <div class="col-md-6 ipsum_img"><img src="{% static 'website/images/gate2.jpg' %}" alt="">
                </div>
                <div class="col-md-12 p0">

                </div>
            </div>
            <div class="col-sm-4 constructing_right">

                <div class="contact_us">
                    <h4>Contact Us</h4>
                    <a href="#" class="contac_namber">0312114905</a>
                    <a href="#" class="contac_namber">+256 0701181576</a>
                    <p>we would love to hear from you</p>
                    <a href="contact" class="button_all">Contact Us</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Building Construction Area -->

<!-- Our Featured Works Area -->

<!-- End Our Team Area -->
{% endblock %}