{% extends 'base.html' %}
{% load static %}


{% block content %}
<!-- Slider area -->
<section class="slider_area row m0">
    <div class="slider_inner">
        <div data-thumb="images/slider-1.jpg" data-src="{% static 'website/images/slide1.JPG' %}">
            <div class="camera_caption">
                <div class="container">
                    <h5 class=" wow fadeInUp animated">Welcome to </h5>
                    <h2 class=" wow fadeInUp animated" data-wow-delay="0.5s">KIBS SYSTEMS LIMITED</h2>
                    <p class=" wow fadeInUp animated" data-wow-delay="0.8s"><h4>Our team of professionals will help you
                    turn
                    your Security measures into a reality fast.</h4> </p>
                    <a class=" wow fadeInUp animated" data-wow-delay="1s" href="contact">Contact
                        <Us></Us>
                    </a>
                </div>
            </div>
        </div>
        <div data-thumb="images/slider-2.jpg" data-src="{% static 'website/images/service3.png' %}">
            <div class="camera_caption">
                <div class="container">
                    <h3 class=" wow fadeInUp animated" data-wow-delay="0.5s">SURVEILLANCE CAMERA SYSTEM</h3>

                </div>
            </div>
        </div>
        <div data-thumb="images/slider-3.jpg" data-src="{% static 'website/images/rad.jpg' %}">
            <div class="camera_caption">
                <div class="container">
                    <h3 class=" wow fadeInUp animated" data-wow-delay="0.5s">INTERCOM SYSTEMS</h3>

                </div>
            </div>
        </div>

        <div data-thumb="images/slider-4.jpg" data-src="{% static 'website/images/access.png' %}">
            <div class="camera_caption">
                <div class="container">
                    <h3 class=" wow fadeInUp animated" data-wow-delay="0.5s">ACCESS CONTROL SYSTEMS</h3>

                </div>
            </div>
        </div>

        <div data-thumb="images/slider-5.jpg" data-src="{% static 'website/images/metal.jpg' %}">
            <div class="camera_caption">
                <div class="container">
                    <h3 class=" wow fadeInUp animated" data-wow-delay="0.5s">HAND HELD METAL DETECTOR, PLASTIC</h3>

                </div>
            </div>
        </div>
        <div data-thumb="images/slider-5.jpg" data-src="{% static 'website/images/fence3.jpg' %}">
            <div class="camera_caption">
                <div class="container">
                    <h3 class=" wow fadeInUp animated" data-wow-delay="0.5s">ELECTRIC FENCING</h3>

                </div>
            </div>
        </div>
        <div data-thumb="images/slider-5.jpg" data-src="{% static 'website/images/fire2.png' %}">
            <div class="camera_caption">
                <div class="container">
                    <h3 class=" wow fadeInUp animated" data-wow-delay="0.5s">FIRE SYSTEMS</h3>

                </div>
            </div>
        </div>
        <div data-thumb="images/slider-5.jpg" data-src="{% static 'website/images/con11.jpg' %}">
            <div class="camera_caption">
                <div class="container">
                    <h3 class=" wow fadeInUp animated" data-wow-delay="0.5s">WIRELESS INTERCOM</h3>

                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Slider area -->

<!-- Professional Builde -->
<section class="professional_builder row">
    <div class="container">
        <div class="row builder_all">
            <div class="col-md-3 col-sm-6 builder">
                <i class="fa fa-home" aria-hidden="true"></i>
                <h4>Professional Security</h4>
                <p>Our Team has the most established skills to enhance your security needs</p>
            </div>
            <div class="col-md-3 col-sm-6 builder">
                <i class="fa fa-building" aria-hidden="true"></i>
                <h4>We Deliver Quality</h4>
                <p>We deliver top quality security measure</p>
            </div>
            <div class="col-md-3 col-sm-6 builder">
                <i class="fa fa-clock-o" aria-hidden="true"></i>
                <h4>Always On Time</h4>
                <p>We Deliver to our customers in the required time range </p>
            </div>
            <div class="col-md-3 col-sm-6 builder">
                <i class="fa fa-thumbs-up" aria-hidden="true"></i>
                <h4>We Are Passionate</h4>
                <p>we are much passionate about security</p>
            </div>
        </div>
    </div>
</section>
<!-- End Professional Builde -->

<!-- About Us Area -->
<section class="about_us_area row">
    <div class="container">
        <div class="tittle wow fadeInUp">
            <h2>ABOUT US</h2>
            <h4>Integrating Technology to your Personal needs</h4>
        </div>
        <div class="row about_row">
            <div class="who_we_area col-md-7 col-sm-6">
                <div class="subtittle">
                    <h2>WHO WE ARE</h2>
                </div>
                <p>KIBS systems Limited with her technically competent team evaluates the clients’ businesses and
                    recommend the best technology solutions that will deliver reliable and effective results.</p>
                <a href="contact" class="button_all">Contact Now</a>
            </div>
            <div class="col-md-5 col-sm-6 about_client">
                <img src="{% static 'website/images/about.JPG' %}" alt="">
            </div>
        </div>
    </div>
</section>
<!-- End About Us Area -->

<!-- What ew offer Area -->
<section class="what_we_area row">
    <div class="container">
        <div class="tittle wow fadeInUp">
            <h2>WHAT WE OFFER</h2>
            <h4>We offer security needs to our customers </h4>
        </div>
        <div class="row construction_iner">
            <div class="col-md-4 col-sm-6 construction">
                <div class="cns-img">
                    <img src="{%static 'website/images/cam1.jpg' %}" alt="">
                </div>
                <div class="cns-content">
                    <i class="fa fa-home" aria-hidden="true"></i>
                    <a href="#">Surveillance System</a>
                    <p>CCTV Cameras/Surveillance system monitors, records and stores events. The system comprises of a
                        Digital Video Recorder (DVR)/ Network Video Recorder (NVR) that processes the recordings to HD(
                        high definition) visual signal stream. </p>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 construction">
                <div class="cns-img">
                    <img src="{% static 'website/images/bio20.jpg' %}" alt="">
                </div>
                <div class="cns-content">
                    <i class="fa fa-keyboard-o" aria-hidden="true"></i>
                    <a href="#">Access Control Systems</a>
                    <p>Access control systems restrict access to unauthorized users to specific areas. It can be a set
                        of devices or a device controlling personal or vehicular access through a door, portal or other
                        physical control barriers by means of an electrically operated released mechanism </p>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 construction">
                <div class="cns-img">
                    <img src="{% static 'website/images/fence2.jpg' %}" alt="">
                </div>
                <div class="cns-content">
                    <i class="fa fa-gavel" aria-hidden="true"></i>
                    <a href="#">Electric Razor Fencing</a>
                    <p>This is similar with the ordinary razor wire and the only difference is that it carries
                        electricity .This type of fence has an energizer which steps up the current also has an
                        intrusion alarm which goes off when the wire is cut or tempered with and it has a power backup
                        battery incase of power failures and LCD, Keypad for arming and disarming the fence</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End What ew offer Area -->

<!-- Our Features Area -->
<section class="our_feature_area">
    <div class="container">
        <div class="tittle wow fadeInUp">
            <h2>Our Features</h2>
            <h4>KIBS systems Limited with her technically competent team evaluates the clients’ businesses and
                recommend the best technology solutions </h4>
        </div>
        <div class="feature_row row">
            <div class="col-md-6 feature_img">
                <img src="{% static 'website/images/show.JPG' %}" alt="">
            </div>
            <div class="col-md-6 feature_content">
                <div class="subtittle">
                    <h2>WHY CHOOSE US</h2>
                    <h5>There are many variations of security that we offer that  Kibs systems limited has
                        evolved.</h5>
                </div>
                <div class="media">
                    <div class="media-left">
                        <a href="#">
                            <i class="fa fa-wrench" aria-hidden="true"></i>
                        </a>
                    </div>
                    <div class="media-body">
                        <a href="#">8+ YEARS OF EXPERIENCE</a>
                        <p>we have been existence for a minimum period of eight years and over this period we have been
                            in position to develop an enormous amount of clientele.</p>
                    </div>
                </div>
                <div class="media">
                    <div class="media-left">
                        <a href="#">
                            <i class="fa fa-rocket" aria-hidden="true"></i>
                        </a>
                    </div>
                    <div class="media-body">
                        <a href="#">QUALIFIED EXPERTS</a>
                        <p>Our technical team has the experience of all latest security measures and very determined to
                            show a tremendous level of expertise</p>
                    </div>
                </div>
                <div class="media">
                    <div class="media-left">
                        <a href="#">
                            <i class="fa fa-users" aria-hidden="true"></i>
                        </a>
                    </div>
                    <div class="media-body">
                        <a href="#">Best Customer Services</a>
                        <p>We equally offer the best to our esteemed customers and valuable advice in regard to security
                            measures</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Our Features Area -->

<!-- Our Services Area -->
<section class="our_services_area">
    <div class="container">
        <div class="tittle wow fadeInUp">
            <h2>Our Services</h2>
            <h4>This is a leaflet to some of the services we offer at Kibs systems Limited. There is more at the service
                page </h4>
        </div>
        <div class="portfolio_inner_area">
            <div class="portfolio_filter">
                <ul>
                    <li data-filter="*" class="active"><a href=""> All</a></li>
                    <li data-filter=".photography"><a href="">Surveillance Cameras</a></li>
                    <li data-filter=".branding"><a href="">Automatic Gates</a></li>
                    <li data-filter=".webdesign"><a href="">Intruder Alarm Systems</a></li>
                    <li data-filter=".adversting"><a href="">Vehicle Alarm Systems</a></li>
                    <li data-filter=".painting"><a href="">Access Control Systems</a></li>
                </ul>
            </div>
            <div class="portfolio_item">
                <div class="grid-sizer"></div>
                <div class="single_facilities col-xs-4 p0 painting photography adversting">
                    <div class="single_facilities_inner">
                        <img src="{% static 'website/images/gallery/cam1.jpg' %}" alt="">
                        <div class="gallery_hover">
                            <h4>Surveillance Cameras</h4>
                            <ul>
                                <li><a href="#"><i class="fa fa-link" aria-hidden="true"></i></a></li>
                                <li><a href="#"><i class="fa fa-search" aria-hidden="true"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="single_facilities col-xs-4 p0 webdesign">
                    <div class="single_facilities_inner">
                        <img src="{% static 'website/images/gallery/' %}" alt="">
                        <div class="gallery_hover">
                            <h4>Automatic Gates</h4>
                            <ul>
                                <li><a href="#"><i class="fa fa-link" aria-hidden="true"></i></a></li>
                                <li><a href="#"><i class="fa fa-search" aria-hidden="true"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="single_facilities col-xs-4 painting p0 photography branding">
                    <div class="single_facilities_inner">
                        <img src="{%static 'website/images/gallery/intru.jpg' %}" alt="">
                        <div class="gallery_hover">
                            <h4>Intruder Alarm Systems</h4>
                            <ul>
                                <li><a href="#"><i class="fa fa-link" aria-hidden="true"></i></a></li>
                                <li><a href="#"><i class="fa fa-search" aria-hidden="true"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="single_facilities col-xs-4 p0 adversting webdesign adversting">
                    <div class="single_facilities_inner">
                        <img src="{% static 'website/images/gallery/alarm1.jpg' %}" alt="">
                        <div class="gallery_hover">
                            <h4>Vehicle Alarm System</h4>
                            <ul>
                                <li><a href="#"><i class="fa fa-link" aria-hidden="true"></i></a></li>
                                <li><a href="#"><i class="fa fa-search" aria-hidden="true"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="single_facilities col-xs-4 p0 adversting webdesign adversting">
                    <div class="single_facilities_inner">
                        <img src="{% static 'website/images/gallery/car.jpg' %}" alt="">
                        <div class="gallery_hover">
                            <h4>Car Inspection Mirrors</h4>
                            <ul>
                                <li><a href="#"><i class="fa fa-link" aria-hidden="true"></i></a></li>
                                <li><a href="#"><i class="fa fa-search" aria-hidden="true"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="single_facilities col-xs-4 p0 adversting webdesign adversting">
                    <div class="single_facilities_inner">
                        <img src="{% static 'website/images/gallery/time.jpg' %}" alt="">
                        <div class="gallery_hover">
                            <h4>Time and Attendence</h4>
                            <ul>
                                <li><a href="#"><i class="fa fa-link" aria-hidden="true"></i></a></li>
                                <li><a href="#"><i class="fa fa-search" aria-hidden="true"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="single_facilities col-xs-4 p0 adversting webdesign adversting">
                    <div class="single_facilities_inner">
                        <img src="{% static 'website/images/gallery/walk.png' %}" alt="">
                        <div class="gallery_hover">
                            <h4>Walk through Systems</h4>
                            <ul>
                                <li><a href="#"><i class="fa fa-link" aria-hidden="true"></i></a></li>
                                <li><a href="#"><i class="fa fa-search" aria-hidden="true"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="single_facilities col-xs-4 p0 adversting webdesign adversting">
                    <div class="single_facilities_inner">
                        <img src="{% static 'website/images/gallery/cam5.jpg' %}" alt="">
                        <div class="gallery_hover">
                            <h4>Fire</h4>
                            <ul>
                                <li><a href="#"><i class="fa fa-link" aria-hidden="true"></i></a></li>
                                <li><a href="#"><i class="fa fa-search" aria-hidden="true"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="single_facilities col-xs-4 p0 painting adversting branding">
                    <div class="single_facilities_inner">
                        <img src="{%static 'website/images/gallery/com.jpg' %}" alt="">
                        <div class="gallery_hover">
                            <h4>Audio Intercom</h4>
                            <ul>
                                <li><a href="#"><i class="fa fa-link" aria-hidden="true"></i></a></li>
                                <li><a href="#"><i class="fa fa-search" aria-hidden="true"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="single_facilities col-xs-4 p0 webdesign photography magazine adversting">
                    <!--                    <div class="single_facilities_inner">-->
                    <!--                        <img src="{% static 'website/images/gallery/car.jpg' %}" alt="">-->
                    <!--                        <div class="gallery_hover">-->
                    <!--                            <h4>Car Inspection Mirror</h4>-->
                    <!--                            <ul>-->
                    <!--                                <li><a href="#"><i class="fa fa-link" aria-hidden="true"></i></a></li>-->
                    <!--                                <li><a href="#"><i class="fa fa-search" aria-hidden="true"></i></a></li>-->
                    <!--                            </ul>-->
                    <!--                        </div>-->
                    <!--                    </div>-->
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Our Services Area -->

<!-- Our Team Area -->
<!--<section class="our_team_area">-->
<!--    <div class="container">-->
<!--        <div class="tittle wow fadeInUp">-->
<!--            <h2>Our Team</h2>-->
<!--            <h4>Meet our passionate and legendary team</h4>-->
<!--        </div>-->
<!--        <div class="row team_row">-->
<!--            <div class="col-md-3 col-sm-6 wow fadeInUp">-->
<!--                <div class="team_membar">-->
<!--                    <img src="images/team/tm-1.jpg" alt="">-->
<!--                    <div class="team_content">-->
<!--                        <ul>-->
<!--                            <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>-->
<!--                            <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>-->
<!--                            <li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>-->
<!--                        </ul>-->
<!--                        <a href="#" class="name">Stella</a>-->
<!--                        <h6>Accounts</h6>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--            <div class="col-md-3 col-sm-6 wow fadeInUp" data-wow-delay="0.2s">-->
<!--                <div class="team_membar">-->
<!--                    <img src="images/team/tm-2.jpg" alt="">-->
<!--                    <div class="team_content">-->
<!--                        <ul>-->
<!--                            <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>-->
<!--                            <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>-->
<!--                            <li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>-->
<!--                        </ul>-->
<!--                        <a href="#" class="name">Carol</a>-->
<!--                        <h6>Sales</h6>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--            <div class="col-md-3 col-sm-6 wow fadeInUp" data-wow-delay="0.3s">-->
<!--                <div class="team_membar">-->
<!--                    <img src="images/team/tm-3.jpg" alt="">-->
<!--                    <div class="team_content">-->
<!--                        <ul>-->
<!--                            <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>-->
<!--                            <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>-->
<!--                            <li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>-->
<!--                        </ul>-->
<!--                        <a href="#" class="name">Kibuyey Yusuf Zziwa</a>-->
<!--                        <h6>Founder &amp; CEO</h6>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--            <div class="col-md-3 col-sm-6 wow fadeInUp" data-wow-delay="0.4s">-->
<!--                <div class="team_membar">-->
<!--                    <img src="images/team/tm-4.jpg" alt="">-->
<!--                    <div class="team_content">-->
<!--                        <ul>-->
<!--                            <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>-->
<!--                            <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>-->
<!--                            <li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>-->
<!--                        </ul>-->
<!--                        <a href="#" class="name">Reacheal</a>-->
<!--                        <h6>Administration</h6>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--</section>-->
<!-- End Our Team Area -->
<br>

<!-- Our Achievments Area -->
<section class="our_achievments_area" data-stellar-background-ratio="0.3">
    <div class="container">
        <div class="tittle wow fadeInUp">
            <h2>Our Achievments</h2>
            <h4>Over a period of 8 years we have accomplished the following</h4>
        </div>
        <div class="achievments_row row">
            <div class="col-md-3 col-sm-6 p0 completed">
                <i class="fa fa-connectdevelop" aria-hidden="true"></i>
                <span class="counter">800</span>
                <h6>PROJECT COMPLETED</h6>
            </div>
            <div class="col-md-3 col-sm-6 p0 completed">
                <i class="fa fa-home" aria-hidden="true"></i>
                <span class="counter">230</span>
                <h6>SURVILLANCE SYSTEMS INSTALLED</h6>
            </div>
            <div class="col-md-3 col-sm-6 p0 completed">
                <i class="fa fa-child" aria-hidden="true"></i>
                <span class="counter">20</span>
                <h6>WORKERS EMPLOYED</h6>
            </div>
            <div class="col-md-3 col-sm-6 p0 completed">
                <i class="fa fa-trophy" aria-hidden="true"></i>
                <span class="counter">25</span>
                <h6>CLIENTS</h6>
            </div>
        </div>
    </div>
</section>
<!-- End Our Achievments Area -->

<!-- Our Testimonial Area -->
<br>
<br>
<!-- End Our testimonial Area -->

<!-- Our Featured Works Area -->
<section class="featured_works row" data-stellar-background-ratio="0.3">
    <div class="tittle wow fadeInUp">
        <h2>Our Featured Works</h2>
        <h4>Projects Accomplished and on site</h4>
    </div>
    <div class="featured_gallery">
        <div class="col-md-3 col-sm-4 col-xs-6 gallery_iner p0">
            <img src="{% static 'website/images/gallery/slider2.JPG' %}" alt="">
            <div class="gallery_hover">
                <h4>Set up and Configurations</h4>
            </div>
        </div>
        <div class="col-md-3 col-sm-4 col-xs-6 gallery_iner p0">
            <img src="{% static 'website/images/gallery/vid.jpg' %}" alt="">
            <div class="gallery_hover">
                <h4>CCTV Monitor display</h4>
            </div>
        </div>
        <div class="col-md-3 col-sm-4 col-xs-6 gallery_iner p0">
            <img src="{% static 'website/images/gallery/com2.jpg' %}" alt="">
            <div class="gallery_hover">
                <h4>Time & Attendance</h4>
            </div>
        </div>
        <div class="col-md-3 col-sm-4 col-xs-6 gallery_iner p0">
            <img src="{% static 'website/images/power-supply.jpg' %}" alt="">
            <div class="gallery_hover">
                <h4>Power Supply</h4>
            </div>
        </div>



    </div>
</section>
<!-- End Our Featured Works Area -->
<br>
        <br>
<!-- Our Latest Blog Area -->

<!-- End Our Latest Blog Area -->


<!-- End Our Partners Area -->
{% endblock %}
