{% extends 'base.html' %}
{% load static %}

{% block content %}
<!-- Banner area -->
<section class="banner_area" data-stellar-background-ratio="0.5">
    <h2>INTERCOM SYSTEMS</h2>
    <ol class="breadcrumb">
        <li><a href="/">Home</a></li>
        <li><a href="service" class="active">Services </a></li>
    </ol>
</section>
<!-- End Banner area -->

<!-- Building Construction Area -->
<section class="building_construction_area">
    <div class="container">
        <div class="row building_construction_row">
            <div class="col-sm-8 constructing_laft">
                <h2>Intercom</h2>
                <img src="{% static 'website/images/rad.jpg' %}" alt="">
                <a href="#">Intercom</a>
                <p>The system consists of wire color hands free video phone/ Intercom for Gate station. The system is
                    not only convenient to use but also designed to provide an additional measure of security that
                    brings advanced innovative technology in your home or business. For commercial operations where
                    access control is a concern this system, safe guards your entrance while remaining user friendly to
                    guests.

                    CHF series hands free color intercom system is the first in the industry to incorporate day and
                    night camera to accommodate lighting environment. This system operates in color during day light and
                    black & white in low lighting conditions. The built- in infrared provides supplemental lighting to
                    enhance night viewing.</p>

                <div class="col-md-6 ipsum">
                    <p>Features Clear image and high resolution 7inch color digital LCD, Compact and slim design, Easy
                        and simple to install, Connection up to 2door cameras and 2 monitor with sub audio unit
                        Automatic connection between monitor and camera Call and communication with visitor and door
                        open function</p>
                </div>
                <div class="col-md-6 ipsum_img"><img src="{% static 'website/images/rad2.jpg' %}" alt="">
                </div>
                 <div class="col-md-6 ipsum_img"><img src="{% static 'website/images/rad3.jpg' %}" alt="">
                </div>

            </div>
            <div class="col-sm-4 constructing_right">

                <div class="contact_us">
                    <h4>Contact Us</h4>
                    <a href="#" class="contac_namber">0312114905</a>
                    <a href="#" class="contac_namber">+256 0701181576</a>
                    <p>we would love to hear from you</p>
                    <a href="contact" class="button_all">Contact Us</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Building Construction Area -->

<!-- Our Featured Works Area -->
<
<!-- End Our Featured Works Area -->

<!-- Our Team Area -->

{% endblock %}