{% extends 'base.html' %}
{% load static %}

{% block content %}

<!-- Banner area -->
<section class="banner_area" data-stellar-background-ratio="0.5">
    <h2>Our Services</h2>
    <ol class="breadcrumb">
        <li><a href="index.html">Home</a></li>
        <li><a href="#" class="active">Services</a></li>
    </ol>
</section>
<!-- End Banner area -->

<!-- Our Services Area -->
<section class="our_services_tow">
    <div class="container">
        <div class="architecture_area services_pages">
            <br>
            <p> <h4>we at kibs systems limited offer the following services to meet your security needs , we horn to
            integrate technology to your personal needs.</h4></p>
            <br>
            <div class="portfolio_filter portfolio_filter_2">
                <ul>
                    <li data-filter="*webdesign" class="active"><a href="fire"><i class="fa fa-fire-extinguisher"
                                                                                  aria-hidden="true"></i>Fire
                        Systems</a></li>
                    <li data-filter=".building"><a href="gate"><i class="fa fa-cogs" aria-hidden="true"></i>Automatic
                        Gates</a>
                    </li>
                    <li data-filter=".webdesign"><a href="metal"><i class="fa fa-wrench" aria-hidden="true"></i>Metal
                        Detectors</a>
                    </li>
                    <li data-filter=".adverting"><a href="electric"><i class="fa fa-heart" aria-hidden="true"></i>Electric
                        Fencing</a></li>
                    <li data-filter=".painting"><a href="camera"><i class="fa fa-camera" aria-hidden="true"></i>Surveillance
                        Cameras</a></li>
                    <li data-filter=".webdesign"><a href="car"><i class="fa fa-bell" aria-hidden="true"></i>Vehicle
                        Alarm Systems</a></li>
                    <li data-filter=".building"><a href="access"><i class="fa fa-fa fa-network-wired"
                                                                    aria-hidden="true"></i>Access
                        Control Systems</a></li>
                    <li data-filter=".adverting"><a href="attendance"><i class="fa fa-cogs" aria-hidden="true"></i>Time
                        &
                        Attendance Systems</a></li>
                    <li data-filter=".webdesign"><a href="intercom"><i class="fa fa-wrench" aria-hidden="true"></i>Door
                        Phones/Intercom</a></li>


                </ul>
            </div>


        </div>
    </div>
</section>
<!-- End Our Services Area -->

<!-- Our Featured Works Area -->

<!-- End Our Team Area -->
{% endblock %}